*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: rgb(53, 77, 211);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    font-family: Helvetica, sans-serif;
    max-width: 400px;
    text-align: center;
    padding: 16px;
    background: #dfd7d7;
    border-radius: 10px;
}

.heading {
    background: rgb(53, 77, 211);
    padding: 5px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    /* font-size: 25px; */
    border-radius: 10px;
}
.heading a{
    color: white;
    text-decoration: none;
}

#website {
    box-sizing: border-box;
    width: 100%;
    background: #dfd7d7;
    margin-bottom: 4%;
    border: 2px solid rgb(53, 77, 211);
    border-radius: 10px;
    padding: 4%;
    font-size: 17px;
}

#website:focus {
    outline: none;
}
.form button {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 180px;
    margin: 0 auto;
    padding: 3%;
    background: rgb(53, 77, 211);
    border: none;
    border-radius: 3px;
    font-size: 17px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.form button:hover {
    background: #fff;
    color: rgb(53, 77, 211);
    border: 1px solid rgb(53, 77, 211);
}

.form button:active {
    background: rgb(53, 77, 211);
    color: #fff;
}

#qrcode-container {
    display: none;
}

.qrcode {
    padding: 16px;
    margin-bottom: 30px;
}

.qrcode img {
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(67, 67, 68, 1.25);
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width: 400px){
    .form{
        max-width: 90%;
    }
}